!!!
%html{:lang=>"en"}
	%head
		%meta{:charset=>"utf-8"}
		%title Blogalog!
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
		%link{:href=>"/css/bootstrap.min.css", :rel=>"stylesheet"}
		/ %script{:type=>"text/javascript", :src=>"/js/require.min.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/jquery.min.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/handlebars.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/underscore.min.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/backbone.min.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/bootstrap.min.js"}
		/ %script{:type=>"text/javascript", :src=>"/js/blogalog.js"}
		%script{"data-main"=>"js/main", :src=>"/js/lib/require.js"}

	%body
		.navbar.navbar-static-top
			.navbar-inner
				%ul.nav
					%li
						%a{:href=>"/"} Home
		.container{:style=>"margin-top:10px;"}
			=yield

