<h3 class="text-center">{{title}}</h3>
<div>{{{body}}}</div>
{{#if tags}}
	<hr/>
	<div class="row">
		<div class="col-xs-12">
		{{#each tags}}
		<a style="margin-top:5px;" href="/#tags/{{.}}" class="btn btn-primary" style="pointer:cursor;">{{.}}</a>
		{{/each}}
		</div>
	</div>
	<br/>
{{/if}}

{{#if user}}
	<hr/>
	Logged in as {{user.name}} <img src="{{user.image_url}}" />
{{else}}
	<hr/>
	<a href="/auth/google_oauth2">Login with google</a><br/>
	<a href="/auth/facebook">Login with FB</a>
{{/if}}