{{#if tag}}
	<h4 class="text-center">All entries with tag: {{tag.tag}}</h4>
	<hr />
	{{#if entries}}
		<div class="row">
			<div class="col-xs-5"><b>Created</b></div>
			<div class="col-xs-7"><b>Title</b></div>
		</div>
		{{#each entries}}
			<div class="row">
				<div class="col-xs-5">{{created_at}}</div>
				<div class="col-xs-7"><a href="#/entries/{{_id.$oid}}">{{title}}</a></div>
			</div>
		{{/each}}
	{{else}}
		<p>No entries associated with this tag</p>
	{{/if}}
{{else}}
	No tag model was found!?
{{/if}}
